---
import Button from "./Button.astro";

const { title } = Astro.props;
---

<li>
  <h3>{title}</h3>
  <p>
    Learn the latest animation techniques to create stunning motion design and
    captivate your audience.
  </p>
  <Button variant="ghost" />
</li>

<style>
  h3 {
    background: tomato;
  }
</style>
